body{
    margin:auto;
    background-color: #E3E3E6;
}

/*fill the backgroudn color white with opactiy.*/
#background-fill {
    width:100px;
    height:100px;
    width: 900px;
    height: 100%;
    display: block;
    position: absolute;
    background-color:white;    
    opacity: .85;    
}

#header-block {
    display:block;    
}

#header-image {    
    width:100%;    
    display:block;
    position: relative;
}

#container {
    margin: auto;    
    max-width: 900px;       
    display: block;
    z-index: 1;
    background-color: white;        
}

/***** Header section *****/
header {
    bottom: 0;
    margin:0;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    color: #F5546F;           
}

#title {
    font-size: 5rem;
    z-index: 1;
}

/***** Contact Us section *****/
section {
    margin:auto;
    padding: 10% 5%;
    display:block;
    width: 90%;
}

#sub-header {
    margin: 0 5%; 
    padding-bottom: 2%;
    font-size: 2rem;
    color:#5C5B63;
}

#contact-information {  
    margin: 0 5%;   
    padding: 0 2% 0 2%;
    display:flex;
    flex-direction: row;   
}

#contact-information div {  
    width:100%;
    font-size: 1.4rem;
    color:#5C5B63;
}

.description {
    margin:0;
    padding: 1% 0 1% 0;
}

/*display the phone and email information on the right*/
.right-align {
    display:block;
    float:right;
}

/*Email Link*/
a {
    color:#AC0030;
    text-decoration: none;
    word-wrap: break-word;
}

/***** Survey Form section *****/
#survey-form {
    width: 90%;  
    margin:auto;
    display: block;          
}

.form-element {
    margin: 0 5%;
    padding-bottom: 5%;
}

/*Text styling for asterisk*/
.asterisk {
    color: #F65570;
}

label {
    display:block;   
    font-size: 1.3rem;
    color: #F65570;     
}

.label {
    margin:0;
    padding:0 0 2% 2%;
    font-size: 1.4rem;
    font-weight: bold;
    color: #5C5B63;
    display: inline-block;
}

/*Border for input boxes*/
.border {    
    display:flex;
    padding: .5% 3%;
    border: 1px solid #5C5B63;
    border-radius: 1rem;
}

select, #name, #email, #number, #other{
    width: 100%;
    height:2.375rem;   
    border: none;
    outline:none;
    font-size: 1.2rem;
    color: #F65570;   
}

/*Text input for "Other"*/
#other-label {
    font-size: 1.5rem;
}

#other-border {
    display: inline-block;   
    margin:0;  
    padding-left: 2%;
    width: 50%;
}

input::placeholder {
    color: #F65570;   
}

/*Slider output*/
#slider-out_1, #slider-out_2, #slider-out_3, #slider-out_4 {
    text-align: center;
    display: block;
    font-size: 1.3rem;
    font-weight: bold;
}

/*Slider input value blocks*/
#slider_1, #slider_2, #slider_3, #slider_4 {
    margin: 5% 0;
    display:block;
  -webkit-appearance: none;
  width: 100%;
  height: .05px;
  border: 1px solid #F65570;
  outline:none;
}

/*Styling slider buttons*/
#slider_1::-webkit-slider-thumb, #slider_2::-webkit-slider-thumb, #slider_3::-webkit-slider-thumb, #slider_4::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: white;
    border: 1px solid #F65570;
    cursor: pointer;
  }

.slider-label, .checkbox-label {    
    padding: 2% 0;
}

.input-checkbox {
    display:inline-block;      
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

#painting_checkbox[type=checkbox]:checked{
    display:block;
}

#text-border {
    display:flex;
}

#comments {
    width: 100%; 
    border-radius: .3rem;
    font-size: 1.4rem;
    height: 170px;  
    outline:none;
}

#comments::placeholder {  
    color: #F65570; 
}

#submit {
    width: 100%;
    margin-bottom: 5%;
    height: 50px;
    border: 1px solid #F65570;
    outline: none;
    border-radius: 1rem;
    font-size: 1.5rem;
    background-color: #F65570; 
    color: white;
}

/******Footer Section******/
#footer{
    padding: 30px;
    display:flex;
    flex-direction: column;
    row-gap: 30px;
    text-align: center;
    font-size: 1.7rem;
}

#footer p{
    margin:0;
}

#footer div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#return-top{
    margin:auto;
    width:0;
    height:0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #F65570;
}

#github-img{
    padding: 0 5px 0 5px;
    display: inline-block;
    width: 32px;    
    user-select: none;
}

/*Resize for smaller mobile devices when screen width is 900px or less.*/
@media screen and (max-width: 900px) { 
    #title {
        margin: 5%;
        font-size: 4.5rem;
    }

    #container, #background-fill {
        width:100%;
    }

    section {
        text-align: center;
        padding: 10% 0;
    }

    #sub-header {
        font-size: 2.2rem;
        margin: 0; 
        
    }

    #survey-form {
        width: 95%;
    }

    #contact-information {
        margin: 0;
        padding:0;
        flex-wrap: wrap;   
    }

    #contact-information div { 
        font-size: 1.6rem;
    }

    .form-element {
        margin: 0;
        padding-bottom: 5%;
    }

    #name, #email, #number, #other {
        font-size: 1.4rem;
    }

    select{
        border: 1px solid #F65570;
        font-size: 1.4rem;
    }

    #dropdown-border{
        display:flex;
        margin: 0;
        padding: 0;
        border: none;
    }
    
    #other-border {
        width: 70%;
    }
    
    .label {
        padding: 4% 3%;
        font-size: 1.8rem;
    }
    
    label, input, #slider-out_1, #slider-out_2, #slider-out_3, #slider-out_4 {
        font-size: 1.6rem;
    }

    #slider_1::-webkit-slider-thumb, #slider_2::-webkit-slider-thumb, #slider_3::-webkit-slider-thumb, #slider_4::-webkit-slider-thumb {
        width: 30px;
        height: 30px;
    }

    .border {    
        display:flex;
        padding: 1% 3%;
    }      
    
    .right-align {
        display:block;
        float:none;
    } 
}


@media screen and (max-width: 480px) { 
    #title {
        margin: 5%;
        font-size: 3rem;
    }

    .label {
        padding: 4% 0;
    }
}


